* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;

    font-family: 'Poppins';
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0px;

}

/* .firstSection div {
    width: 40%;

} */

.leftSection {


    font-size: 3rem;
    /* margin-top: 100px; */
    justify-content: center;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.purple {

    color: blueviolet;
}

#element {
    color: rgb(153, 153, 226);

}

.SecondSection {
    display: inline-flex;
    align-items: center;
    margin-top: 1px;
}

.imageContainer {
    margin-left: 7rem;
    margin-top: 2rem;
    /* Adjusted margin-top value */
    margin-bottom: 2rem;
    /* Adjusted margin-bottom value */
}

.profileImage {
    /* border-radius: 50%; */
    border-top-left-radius: 18%;
    border-bottom-left-radius: 18%;
    width: 30rem;
    height: 30rem;
}

.AboutMeContainer {
    margin-left: 5rem;
    margin-top: 2rem;
    /* Adjusted margin-top value */
    margin-bottom: 2rem;
    /* Adjusted margin-bottom value */
    border: white 5px solid;
    border-top-right-radius: 15%;

    padding: 17px;

}

.AboutMeContainer h1 {
    font-size: 2.5rem;
    font-family: 'Poppins';
}

.vertical-About {
    height: 28rem;
    width: 45rem;
    font-size: 1.5rem;
}




.ThirdSection {
    max-width: 80vw;
    margin: auto;
    margin-top: 8rem;
    height: 45em;
}

.ThirdSection h1 {
    font-size: 2.5rem;
    font-family: 'Poppins';

}

main hr {
    border: 0;
    background-color: rgb(153, 153, 226);

    height: 1.2px;

    margin: 90px 80px;
}

.text-gray {
    color: gray;
}

.workContainer {
    display: inline-block;
    vertical-align: top;
}

.vertical {
    margin-top: 3em;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-left: 20px;
    border-radius: 1em;
    background-color: #cccccc2a;
    width: 20rem;
    /* display: inline-block; */
    height: 30em;
    /* Added height property */
    vertical-align: top;
    /* Aligns the containers from the top */
    justify-content: center;
}

.workContainer h2 {
    font-size: 1.7em;
    font-family: 'Poppins';
    color: rgba(255, 208, 0, 0.767);
}


.workContainer p {
    margin-top: 1.5em;
    font-size: 1.4em;
}

.FourthSection {
    max-width: 80vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    height: 100em;

}

.FourthSection h1 {
    font-size: 2.5rem;
    font-family: 'Poppins';

}

.projectContainer {
    display: inline-block;
    vertical-align: top;
    justify-content: center;

}

.projectBox {
    margin-top: 3em;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-left: 40px;
    border-radius: 1em;
    background-color: #cccccc2a;
    width: 20rem;
    /* display: inline-block; */
    height: 25em;
    /* Added height property */
    vertical-align: top;
    /* Aligns the containers from the top */
    justify-content: center;
}


.ProjectImage {
    height: 15rem;
    margin-left: 2.5rem;
    margin-right: 2rem;
    padding-bottom: 15px;
    
}